$logo-green: #4abc96;

$header-bg: #3a3a3a;

$blue: #2b8cc4;
$black: #000;
$white: #fff;

// Flash boxes
$error-border: #df3034;
$error-bg: #fef7f7;

$alert-info: #d5e8f3;
$alert-success: #cce0d6;
$alert-warning: #fff2d3;
$alert-error: #ef9998;

// Text
$text-colour: #0b0c0c;
$secondary-text-color: #6f777b;
$page-colour: #ffffff;

// Links
$link-colour: #005ea5;
$link-hover-colour: #2e8aca;
$link-visited: #2e8aca;

// Backgrounds
$border-colour: #bfc1c3;
$panel-colour: #dee0e2;
$highlight-colour: #f8f8f8;

// Buttons
$button-colour: #00823b;
$green: #006435;

// Focus
$yellow: #ffbf47;