@import 'neat-helpers';

// or 'neat-helpers' when in Rails

// Change the grid settings
$column: 90px;
$gutter: 30px;
$grid-columns: 10;
$max-width: em(860);

// Define your breakpoints
$desktop: new-breakpoint(min-width 769px, 8);
$tablet: new-breakpoint(min-width 641px 8);
$mobile: new-breakpoint(max-width 640px 4);

$nav-collapse: new-breakpoint(max-width 848px 8);
$nav-expand: new-breakpoint(min-width 849px 8);