<!DOCTYPE html>
<html lang="en-gb">
    <head>
        <title>User Import Print-out</title>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
        <style>
            .user-block {
                border: 3px solid #000;
                margin: 10px 0;
                padding: 5px;
            }

            .block-list {
                list-style-type: none;
                padding: 0;
                margin: 0;
            }

            .block-list li:nth-child(3n) .user-block {
                page-break-after: always;
            }

            .block-list li:last-child .user-block {
                page-break-after: auto;
            }
        </style>
    </head>

    <body>
        <ul class="block-list">
        {% for user in users %}
            <li><div class="user-block">
                <h2>{{ user['full_name'] }}

                <p>Your login details are:</p>

                <p>User ID: {{ user['id'] }}</p>
                <p>Password: <code>{{ user['password'] }}</code></p>

                <p>Please change your password on first login. This is achieved by clicking
                    on the <strong>Your profile</strong> link in the top navigation bar.
                    There will be a section to change your current password.
                </p>
            </div></li>
        {% endfor %}
        </ul>
    </body>
</html>