/* ==========================================================================
   Base
   ========================================================================== */

/* Force vertical scrolling and prevent jumps when hiding/showing content
   specifically with modals and when filtering */
html {
  overflow-y: scroll;
}

label {
  font-weight: bold;
  cursor: pointer;
}

/* List group customisations
   ========================================================================== */
.list-group-compact li {
  padding-top: 14px;
  padding-bottom: 14px;
}

/* Login page
   ========================================================================== */
.login-box {
  margin-top: 30px;

  .panel-heading {
    text-align: center;
  }
}

@media (min-width: $screen-sm-min) {
  .action-btn-block {
    float: right;
  }
}

@media(min-width: $screen-md-min) {
  .well-sidebyside {
    margin-right: 20px;
  }
}

.alert > .list-group {
  padding: 0 0 10px 0;
}

.alert-subheading {
  padding-top: 10px;
}