/* ==========================================================================
   Navbar
   ========================================================================== */

.navbar .container .navbar-brand {
  background: url("../images/logo.png") 0 5px / 40px 40px no-repeat;
  font-size: 20px;
  margin-left: 0;
  padding-left: 2.5em;
  min-height: 37px;

  .lte-ie8 & {
    min-height: 20px;
  }
}

.navbar-nav li:hover {
  background: $gray-lighter;
}