@import '../variables';

@media screen and (max-width: $screen-sm-max) {
  div.course-view {
    overflow-x: scroll;
  }
}

.course-view > .tracker-table {
  thead tr th:first-child, thead tr:last-child th,
  thead tr:first-child th {
    border-bottom: 3px solid #333;
  }

  tr:first-child th:first-child, tr td:first-child {
    border-right: 3px solid #333;
  }

  thead tr:first-child th:last-child,
  tr th:nth-last-child(2), tr th:nth-last-child(5),
  tr td:nth-last-child(2), tr td:nth-last-child(5) {
    border-left: 3px solid #333;
  }
}

.tracker-table {
  border: 3px solid #333;

  th, td {
    text-align: center;
  }

  tr th, tr td {
    vertical-align: middle !important;
  }

  td.criteria {
    width: 30px;
    height: 30px;
  }

  td.criteria-achieved {
    background: $brand-success !important;
    color: $brand-success;
  }

  td.criteria-nya {
    background: $brand-danger !important;
  }

  td.criteria-awaitmark {
    background: $brand-warning !important;
  }

  td.criteria-ref {
    background: $brand-primary !important;
  }

  td.grade-d, td.grade-m, td.grade-p {
    font-weight: bold;
  }

  td.grade-d, td.grade-dd, td.grade-ddd  {
    background: fade-out(#369836, 0.1) !important;
    text-transform: uppercase;
  }

  td.grade-m, td.grade-mm, td.grade-mmm {
    background: fade-out(#5cb85c, 0.1) !important;
  }

  td.grade-p, td.grade-pp, td.grade-ppp {
    background: fade-out(#8ad38a, 0.1) !important;
  }

  td.grade-n {
    background: fade-out($brand-danger, 0.2) !important;
  }
}