header.section-heading {
  margin-top: 0;

  hgroup h2 {
    margin: 0;

    .section-marker {
      display: block;
      color: $gray;
      font-size: 24px;
    }
  }
}

.transaction-sidebar {
  @include make-md-column(3);

  h2 {
    border-top: 3px solid #000;
    margin-top: 0;
    padding-top: 20px;
  }

  ol {
    @media (min-width: $screen-md-min) {
      padding-left: 20px;
    }

    li {
      margin-bottom: 10px;

      &.active {
        font-weight: bold;
      }
    }

    li:before {
      color: $gray;
    }
  }
}