{% extends "layouts.single" %}

{% block title %}System Error{% endblock %}

{% block content %}
  <header class="page-header">
    <hgroup><h1 class="form-title heading-large">System Error <small>404 (Page not found)</small></h1></hgroup>
  </header>

  <p>Sorry, that page cannot be found on the system.</p>
{% endblock %}