{% extends "layouts.single" %}

{% block title %}System Error{% endblock %}

{% block content %}
  <h1 class="page-header">Your browser sent an invalid request</h1>

  <p><a href="{{ route('home') }}">Click here</a> to return back to the homepage.</p>
{% endblock %}