{% extends "layouts.single" %}

{% block title %}System Maintenance{% endblock %}

{% block content %}
  <header class="page-header">
    <hgroup><h1 class="form-title heading-large">System maintenance</h1></hgroup>
  </header>

  <p class="lead">
    eTrack is currently unavailable due to essential maintenance.
    Thank you for your patience.
  </p>

  <p>
    If you need <span class="text-danger">urgent</span> access to the system,
    please contact <a href="mailto:itservices@cityplym.ac.uk">IT Services</a>.
  </p>
{% endblock %}