{% extends "layouts.single" %}

{% block bodyclass %}login{% endblock %}
{% block title %}Sign in{% endblock %}

{% block content %}
  <header class="page-header">
    <hgroup><h1 class="form-title heading-large">Welcome to eTrack</h1></hgroup>
  </header>

  <p>Log in to get started.</p>

  <div class="validation-summary">
    <h1 class="error-heading">There was a problem submitting the form</h1>

    <p>Because of the following problems:</p>

    <ol>
      <li>User ID cannot be blank</li>
      <li>Password cannot be blank</li>
    </ol>
  </div>

  {{ form_open() }}
  <div class="form-group validation">
    <label for="login-userid" id="login-userid-label" class="form-label required">
      User ID
      <span class="validation-message">cannot be blank</span>
    </label>
    <div class="row">
      <div class="col-md-7">
        <input name="userid" type="text" id="login-userid" value="" autofocus="on" autocomplete="off" class="form-control">
      </div>
    </div>
  </div>


  <div class="form-group validation">
    <label for="login-password" id="login-password-label" class="form-label required">
      Password
      <span class="validation-message">cannot be blank</span>
    </label>
    <div class="row">
      <div class="col-md-7">
        <input name="password" type="text" id="login-password" value="" autocomplete="off" class="form-control">
      </div>
    </div>
  </div>

  {{ form_button('Log in', {'type': 'submit', 'class': 'btn submit-btn'}) }}

  <p class="action group">
    {{ form_button('Forgotten your password?', {'type': 'submit', 'name': 'forgotpw', 'id': 'forgotpw-submit', 'class': 'btn btn-link link-btn'}) }}
  </p>

  {{ form_close() }}
{% endblock %}