{% extends "layouts.single" %}

{% block bodyclass %}login{% endblock %}
{% block title %}Login{% endblock %}

{% block content %}
  <header class="page-header">
    <hgroup><h1 class="form-title heading-large">Login</h1></hgroup>
  </header>

  {% if session_has('authError') %}
    <div class="alert alert-danger">
      <h4>There was a problem submitting the form</h4>

      {{ session_get('authError') }}
    </div>
  {% endif %}

  {% autoescape false %}
    {{ form_open({'route': 'auth'}) }}
  {% endautoescape %}
  <div class="row">
    <div class="form-group col-md-6">
      <label for="login-userid" id="login-userid-label" class="form-label required">User ID</label>
      <input name="userid" type="text" id="login-userid" value="" autofocus="on" autocomplete="off" class="form-control">
    </div>
  </div>

  <div class="row">
    <div class="form-group col-md-6">
      <label for="login-password" id="login-password-label" class="form-label required">Password</label>
      <input name="password" type="password" id="login-password" value="" autocomplete="off" class="form-control">
    </div>
  </div>

  <div class="form-group">
    {% autoescape false %}
      {{ form_button('Log in', {'type': 'submit', 'class': 'btn btn-primary'}) }}
    {% endautoescape %}
  </div>

  <div class="form-group"><a href="#">Forgotten your password?</a></div>

  {% autoescape false %}
    {{ form_close() }}
  {% endautoescape %}
{% endblock %}
