#wrapper {
  @include outer-container;
  padding: 0 2em 2em 2em;
}

.page-header {
  @include fill-parent;

  hgroup {
    display: block;
    padding-top: 1em;

    h1 {
      font-size: golden-ratio(25px, 1);
      line-height: 1.1;

      @include media($mobile) {
        font-size: golden-ratio(18px, 1);
        margin-bottom: 0.5em;
      }
    }

    @media (min-width: $tablet) {
      font-size: golden-ratio(32px, 1);
    }
  }
}

article {
  @include fill-parent;
}

article p,
article ul, article ol {
  margin: 0.75em 0;
}