@include sticky-footer(52px, "#wrapper", "#layout_footer", "#footer");

#footer {
  border-top: 8px solid $logo-green;
  box-shadow: 0 1px 3px rga(0, 0, 0, 0.05);
  padding: 10px 0;

  .wrapper {
    @include outer-container;

    p {
      @include fill-parent;
      padding: 0 2em;
      font-size: 14px;
    }
  }
}