header#global-header {
  width: 100%;
  border-bottom: 7px solid $logo-green;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.05);
}

.header-wrapper {
  @include outer-container;
  padding: 10px;
}

.header-logo {
  @include span-columns(8);

  #logo {
    margin-right: 40px;
    text-decoration: none;
    color: $text-colour;
    float: left;
    font-size: em(20);
    font-weight: 500;

    img {
      margin-top: -4px;
      margin-right: 10px;
      vertical-align: middle;
    }
  }
}