{% extends "layouts.template" %}
{% block containertype %}container-fluid{% endblock %}
{% block main %}
  <div class="row">
    <sidebar class="well-sidebar col-md-3">
      {% block sidebar %}{% endblock %}
    </sidebar>
    <div class="col-md-9">
      {% block content %}{% endblock %}
    </div>
  </div>
{% endblock %}
