{% extends "layouts.template" %}
{% block main %}
  <div class="row">
    <div class="col-md-7">
      {% block content %}{% endblock %}
    </div>

    <sidebar class="col-md-3 col-md-offset-2">
      {% block sidebar %}{% endblock %}
    </sidebar>
  </div>
{% endblock %}